<!-- alcohols.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Page Title -->
    <section>
        <h2>Alcohols in Database</h2>
        <article></article>
    </section>

{{!-- Create a table --}}
<table id="alcohol-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, alcohol name, type, percentage, wholesale price, volume, and inventory count in order --}}
        {{#each data}}
        <tr>
            <td>{{this.alcoholID}}</td>
            <td>{{this.alcoholName}}</td>
            <td>{{this.alcoholType}}</td>
            <td>{{this.alcoholPercentage}}</td>
            <td>{{this.wholesalePrice}}</td>
            <td>{{this.alcoholVolume}}</td>
            <td>{{this.inventory}}</td>
            <td><button onclick="deleteAlcohol({{this.alcoholID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="/js/delete_alcohol.js"></script>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}

{{!--  When using express.static('public'), you should reference static files in the HTML as if the public folder is the root --}}
<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<h2>Add an Alcohol</h2>
<p>Input data for your desired alcohol here.</p>
<form id="add-alcohol-form">
    <p>
        <label for="input-alcoholName">Alcohol Name: </label>
        <input type="text" name="input-alcoholName" id="input-alcoholName">
    </p>
    <p>
        <label for="input-alcoholType">Alcohol Type: </label>
        <select name="input-alcoholType" id="input-alcoholType">
            <option>Select Type</option>
            <option value="Rum">Rum</option>
            <option value="Tequila">Tequila</option>
            <option value="Vodka">Vodka</option>
            <option value="Whisk(e)y">Whisk(e)y</option>
            <option value="Other">Other</option>
        </select>
    </p>
    <p>
        <label for="input-alcoholPercentage">Alcohol Percentage: </label>
        <input type="number" step="0.01" name="input-alcoholPercentage" id="input-alcoholPercentage">
    </p>
    <p>
        <label for="input-wholesalePrice">Wholesale Price: </label>
        <input type="number" step="0.01" name="input-wholesalePrice" id="input-wholesalePrice">
    </p>
    <p>
        <label for="input-alcoholVolume">Alcohol Volume (liters): </label>
        <input type="number" step="0.01" name="input-alcoholVolume" id="input-alcoholVolume">
    </p>
    <p>
        <label for="input-inventory">Inventory: </label>
        <input type="number" name="input-inventory" id="input-inventory">
    </p>

    <input type="submit" value="Submit">
</form>

<h2>Search Using an HTML Form</h2>
<p>Search for an alcohol by name using the search bar below!</p>
<form id="search-alcohol" method='GET' action='/'>
    <label for="input-alcoholName">Search by name: </label>
    <input type="text" name="alcoholName" id="input-alcoholName-search">
    
    <input type="submit">
    <a href='/'><button>Reset</button></a>
</form>

<script src="/js/add_alcohol.js"></script> 

<h2>Updating Alcohol Form</h2>
<p>To update a specific Alcohol's type, select their name from the dropdown on the left.</p>
<form id="update-alcohol-form-ajax">

    <label for="input-alcoholName">Alcohol name: </label>
    <select name="input-alcoholName" id="mySelect">
        <option value="test">Select an Alcohol</option>
        {{#each data}}
        <option value="{{this.alcoholID}}">{{this.alcoholName}}</option>
        {{/each}}
    </select>

    <label for="input-alcohol-type">Type: </label>
    <select name="input-alcohol-type" id="input-alcohol-type-update">
        <option>Select a type of liquor: </option>
        {{#each data}}
        <option value="{{this.alcoholType}}">{{this.alcoholType}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="/js/update_alcohol.js"></script>