<!-- alcoholPurchases.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div>
<!-- Page Title -->
        <h2>Alcohol Purchases in Database</h2>

{{!-- Create a table --}}
<table id="alcohol-purchases-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>ID</th>
            <th>Purchase</th>
            <th>Alcohol</th>
            <th>Quantity Purchased</th>
            <th>Cost</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, alcohol name, type, percentage, wholesale price, volume, and inventory count in order --}}
        {{#each data}}
        <tr data-value={{this.alcoholPurchaseID}}>
            <td>{{this.alcoholPurchaseID}}</td>
            <td>{{this.name}}, {{this.deliveryDate}}</td>
            <td> {{this.alcoholName}}</td>
            <td>{{this.quantityPurchased}}</td>
            <td>{{this.lineCost}}</td>
            <td><button onclick="deleteAlcoholPurchase({{this.alcoholPurchaseID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="/js/delete_alcohol_purchase.js"></script>
</div>
{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}

{{!--  When using express.static('public'), you should reference static files in the HTML as if the public folder is the root --}}
<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<div>


<h2>Add new Alcohol Purchase</h2>
<p>Input data for new alcohol purchase here.</p>
<form id="add-alcohol-purchase-form" method="POST" action="/add-alcohol-purchase-form">
    <p>
        <label for="purchaseID">Purchase: </label>
        <select name="purchaseID" id="purchasIDSelect">
        <option value="">Select</option>
        {{#each purchaseData}}
        <option value="{{this.purchaseID}}">{{this.name}}, {{this.deliveryDate}}</option>
        {{/each}}
        </select>
    </p>
    <p>
        <label for="alcoholID">Alcohol: </label>
        <select name="alcoholID" id="alcoholIDSelect">
        <option value="">Select</option>
        {{#each alcoholData}}
        <option value="{{this.alcoholID}}">{{this.alcoholName}}</option>
        {{/each}}
        </select>
    </p>
    <p>
        <label for="quantityPurchased">Quantity: </label>
        <input type="number" name="quantityPurchased" id="quantityPurchased">
    </p>
    <input type="submit">
</form>

<div>
<h2>Updating Alcohol Purchase Form</h2>
<p>To update a specific Alcohol's information, input the following information you would like to change.</p>
<form id="update-alcohol-purchase-form-ajax">

    <label for="input-alcoholPurchaseID">Select an alcohol purchase to update: </label>
    <select name="input-alcoholPurchaseID" id="alcohol-purchase-id-select">
        <option value="">Select an Alcohol Purchase</option>
        {{#each data}}
        <option value={{this.alcoholPurchaseID}}>{{this.alcoholPurchaseID}}</option>
        {{/each}}
    </select>

    <label for="input-purchaseID-update">Type: </label>
    <select name="input-purchaseID-update" id="input-purchase-id-update">
        <option value="">Purchase ID</option>
        {{#each purchaseData}}
        <option value="{{this.purchaseID}}">{{this.name}}, {{this.deliveryDate}}</option>
        {{/each}}
    </select>

    <label for="input-alcoholID-update">Alcohol: </label>
    <select name="input-alcoholID-update" id="input-alcohol-id-update">
        <option value="">Alcohol</option>
        {{#each alcoholData}}
        <option value="{{this.alcoholID}}">{{this.alcoholName}}</option>
        {{/each}}
    </select>

    <label for="input-quantity-purchased-update">Quantity </label>
    <input type="number" name="input-quantity-purchased-update" id="input-quantity-purchased-update">

    <input type="submit">

</form>
</div>
<script src="/js/update_alcohol_purchases.js"></script>
