<!-- employees.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div>
<!-- Page Title -->
    <h2>Employees in Database</h2>

{{!-- Create a table --}}
<table id="employee-table"border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Start Date</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>

    {{!-- table body section --}}
    <tbody>

        {{!-- For each row, print the id, alcohol name, type, percentage, wholesale price, volume, and inventory count in order --}}
        {{#each data}}
        <tr data-value={{this.employeeID}}>
            <td>{{this.employeeID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{moment [this.startDate,"ddd, DD MMM YYYY HH:mm:ss ZZ"] format="MM/DD/YYYY"}}</td>
            <td>{{this.employeeRole}}</td>
            <td><button onclick="deleteEmployee({{this.employeeID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="/js/delete_employee.js"></script>
{{!-- Page Navigation  --}}
<p></p>
<button type="reset" onclick="location.href='#add-employee'">Add</button>
<button type="reset" onclick="location.href='#update-employee'">Update</button>
</div>

{{!-- Form to add a record to the table  --}}
<div id="add-employee">
<h2>Add an Employee</h2>
<p>Input data for your new employee here.</p>
<form id="add-employee-form" method="POST" action="/add-employee-form">
    <p>
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="firstName">
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" id="lastName">
    </p>
    <p>
        <label for="startDate">Start Date: </label>
        <input type="date" name="startDate" id="startDate">
        <label for="employeeRole">Position: </label>
        <select name="employeeRole" id="employeeRole">
            <option>Select Role</option>
            <option value="Clerk">Clerk</option>
            <option value="Department Manager">Department Manager</option>
            <option value="Store Manager">Store Manager</option>
            <option value="Other">Other</option>
        </select>
    </p>
    <input type="submit">
</form>
</div>

{{!-- Form to update a record to the table  --}}
<div id="update-employee">
    <h2>Update Employee</h2>
    <p>To update an employyes position, select their name from the dropdown below.</p>
    <form id="update-employee-form">
        <p>
        <label for="input-employee-id">Employee: </label>
        <select name="input-employee-id" id="employeeMySelect">
            <option value="">Select an Employee</option>
            {{#each data}}
            <option value="{{this.employeeID}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>
            <label for="employee-role-select">New Position: </label>
            <select name="employee-role-select" id="employee-role">
                <option>Select Role</option>
                <option value="Clerk">Clerk</option>
                <option value="Department Manager">Department Manager</option>
                <option value="Store Manager">Store Manager</option>
                <option value="Other">Other</option>
            </select>
        </p>
    <input type="submit">
</form>
</div>

<script src="/js/update_employee.js"></script>

