<!-- employees.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div>
<!-- Page Title -->
    <h2>Employees in Database</h2>

{{!-- Create a table --}}
<table id="employee-table"border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Start Date</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, alcohol name, type, percentage, wholesale price, volume, and inventory count in order --}}
        {{#each data}}
        <tr>
            <td>{{this.employeeID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.startDate}}</td>
            <td>{{this.employeeRole}}</td>
            <td><button onclick="deleteEmployee({{this.employeeID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="/js/delete_employee.js"></script>
</div>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}

{{!--  When using express.static('public'), you should reference static files in the HTML as if the public folder is the root --}}
<!-- /views/index.hbs -->

{{!-- Form to add a record to the table  --}}
<div>
<h2>Add an Employee</h2>
<p>Input data for your new employee here.</p>
<form id="add-employee-form" method="POST" action="/add-employee-form">
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="firstName">
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" id="lastName">
        <label for="startDate">Start Date: </label>
        <input type="date" name="startDate" id="startDate">
        <label for="employeeRole">Position: </label>
        <select name="employeeRole" id="employeeRole">
            <option>Select Role</option>
            <option value="Clerk">Sales Clerk</option>
            <option value="Department Manager">Department Manager</option>
            <option value="Store Manager">Store Manager</option>
            <option value="Other">Other</option>
        </select>
    <input type="submit">
</form>
</div>

{{!-- Form to update a record to the table  --}}
<div>
    <h2>Updating Employee Form</h2>
    <p>To update an employyes position, select their name from the dropdown.</p>
    <form id="update-employee-form">
        <label for="input-employee-id">Employees name: </label>
        <select name="input-employee-id" id="mySelect">
            <option>Select an Employee</option>
            {{#each data}}
            <option value="{{this.employeeID}}">{{this.firstName}} {{this.lastName}}</option>
            {{/each}}
        </select>
            <label for="employee-role-select">Position: </label>
            <select name="employee-role-select" id="employee-role">
                <option>Select Role</option>
                <option value="Clerk">Clerk</option>
                <option value="Department Manager">Department Manager</option>
                <option value="Store Manager">Store Manager</option>
                <option value="Other">Other</option>
            </select>
    <input type="submit">
</form>
</div>

<script src="/js/update_employee.js"></script>

