<!-- Purchases.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Page Title -->
<div>
        <h2>Purchases in Database</h2>

{{!-- Create a table --}}
<table id="purchases-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>ID</th>
            <th>Wholesaler</th>
            <th>Employee</th>
            <th>Was it paid?</th>
            <th>Delivery Date</th>
            <th>Was it delivered?</th>
            <th>Total Cost</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, alcohol name, type, percentage, wholesale price, volume, and inventory count in order --}}
        {{#each data}}
        <tr data-value={{this.purchaseID}}>
            <td>{{this.purchaseID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.firstName}} {{this.lastName}}</td> 
            <td>{{#ifZero this.paid}}Yes{{else}}No{{/ifZero}}</td>
            <td>{{moment this.deliveryDate format="MM/DD/YYYY"}}</td>
            <td>{{#ifZero this.delivered}}Yes{{else}}No{{/ifZero}}</td>
            <td>${{this.totalCost}}</td>
            <td>
                <button value="{{this.purchaseID}}" onclick="location.href='/alcohol-purchases'">Line Items</button>
                <button onclick="deletePurchase({{this.purchaseID}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="/js/delete_purchase.js"></script>
{{!-- Page Navigation  --}}
<p></p>
<button onclick="location.href='#add-purchase'">Add</button>
<button onclick="location.href='#update-purchase'">Update</button>
</div>


{{!-- Form to add a record to the table  --}}
<div id="add-purchase">
<h2>Add a Purchase</h2>
<p>Input data for new purchase here.</p>
<form id="add-purchase-form" method="POST" action="/add-purchase-form">
    <p>
        <label for="wholesalerID">Wholesaler: </label>
        <select name="wholesalerID" id="wholesalerSelect">
        <option value="">Select</option>
        {{#each wholesalerData}}
        <option value="{{this.wholesalerID}}">{{this.name}}</option>
        {{/each}}
        </select>

        <label for="employeeID">Employee: </label>
        <select name="employeeID" id="employeeSelect">
        <option value="">Select</option>
        {{#each employeeData}}
        <option value="{{this.employeeID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
        </select>
    </p>
    <p>
        <label>Paid: </label>
        <label class="switch" for="paid">
            <input type="checkbox" name="paid" id="paid">
            <span class="slider round"></span>
        </label>
    
        <label for="deliveryDate">Delivery Date: </label>
        <input type="date" name="deliveryDate" id="deliveryDate">
    
        <label>Delivered: </label>
        <label class="switch" for="delivered">
            <input type="checkbox" name="delivered" id="delivered">
            <span class="slider round"></span>
        </label>
    </p>
    <input type="submit">
</form>
</div>

<div id="update-purchase">
<h2>Update a Purchase</h2>
<p>To update a specific Purchase, please select the ID and enter the info you would like to change</p>
<form id="update-purchase-form">
    <p>
        <label for="input-purchaseID">Purchase ID: </label>
        <select name="input-purchaseID" id="purchaseIDSelect">
            <option value="test">Select Purchase ID</option>
            {{#each data}}
            <option value="{{this.purchaseID}}">{{this.purchaseID}}</option>
            {{/each}}
        </select>
    </p>
    <p>
        <label for="input-wholesaler">Wholesaler</label>
        <select name="input-wholesaler" id="wholesalerUpdateSelect">
            <option value="">Select</option>
            {{#each wholesalerData}}
            <option value="{{this.wholesalerID}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="input-employee">Employee</label>
        <select name="input-employee" id="employeeUpdateSelect">
            <option value="">Select</option>
            {{#each employeeData}}
            <option value="{{this.employeeID}}">{{this.lastName}}, {{this.firstName}}</option>
            {{/each}}
            <option value="Null">None</option>
        </select>

        <label for="deliveryDate">Delivery Date: </label>
        <input type="date" name="input-delivery-date" id="deliveryDateUpdate">
    </p>
    <p>
        <select name="input-paid" id="paidUpdateSelect">
            <option value="">Paid?</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>

        <select name="input-delivered" id="deliveredUpdateSelect">
            <option value="">Delivered?</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>
    </p>
    <input type="submit">

</form>
<script src="/js/update_purchase.js"></script>
</div>