<!-- purchases.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div>
<!-- Page Title -->
    <h2>Purchases in Database</h2>

{{!-- Create a table --}}
<table id="purchases-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>ID</th>
            <th>Wholesaler</th>
            <th>Empoyee</th>
            <th>Was the invoice paid?</th>
            <th>Delivery Date</th>
            <th>Shipment Delivered?</th>
            <th>Total Cost</th>
            <th></th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, alcohol name, type, percentage, wholesale price, volume, and inventory count in order --}}
        {{#each data}}
        <tr>
            <td>{{this.purchaseID}}</td>
            <td>{{this.name}}</td>
            <td>{{this.lastName}}, {{this.firstName}}</td>
            <td>{{this.paid}}</td>
            <td>{{this.deliveryDate}}</td>
            <td>{{this.delivered}}</td>
            <td>{{this.totalCost}}</td>
            <td>
                <button>Edit</button>
                <button onclick="deletePurchase({{this.purchaseID}})">Delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="/js/delete_purchase.js"></script>
</div>

{{!-- Form to add a record to the table  --}}
<div>
<h2>Add new Purchase</h2>
<p>Input data for new purchase here.</p>
<form id="add-purchase-form" method="POST" action="/add-purchase-form">
        <p>
        <label for="wholesalerID">Wholesaler: </label>
        <select name="wholesalerID" id="mySelect">
        <option value="">Select</option>
        {{#each wholesalers}}
        <option value="{{this.wholesalerID}}">{{this.wholesalerName}}</option>
        {{/each}}
        </select>

        <label for="employeeID">Employee: </label>
        <select name="employeeID" id="mySelect">
        <option value="">Select</option>
        {{#each employees}}
        <option value="{{this.employeeID}}">{{this.lastName}}, {{this.firstName}}</option>
        {{/each}}
        </select>

        </p><p>

        <label>Paid: </label>
        <label class="switch" for="paid">
            <input type="checkbox" name="paid" id="paid">
            <span class="slider round"></span>
        </label>

        <label for="deliveryDate">Delivery Date: </label>
        <input type="date" name="delveryDate" id="delveryDate">

        <label>Delivered: </label>
        <label class="switch" for="delivered">
            <input type="checkbox" name="delivered" id="delivered">
            <span class="slider round"></span>
        </label>
        </p>
    <input type="submit">
</form>
</div>

